<a href="https://colab.research.google.com/github/kwaldenphd/poemBot/blob/master/data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup & Environment

In [ ]:
# import all the things
import sys, pandas as pd, numpy as np, json, random, re, gzip, textwrap

# Data

In [ ]:
# load all the dataframes
gutenberg = pd.read_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/gutenberg_combined.csv")
pFound = pd.read_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/pFound.csv")
poetsOrg = pd.read_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/poetsOrg.csv")
poemDB = pd.read_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/poemDB.csv")
gt = pd.read_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Notebooks/gt.csv")

In [ ]:
# show list of columns
#gutenberg.info()

# create subset with select columns
gSubset = gutenberg[['poem', 'title', 'authors']].copy()

# add column
gSubset['source'] = "Project Gutenberg"

# rename columns
columns = ['text', 'title', 'author', 'source']
gSubset.columns = columns

# reorder columns
order = ['title', 'text', 'author', 'source']
gSubset = gSubset[order]
gSubset

In [ ]:
# show list of columns
# pFound.info()
pFoundSubset = pFound[['Title', 'Poem', 'Poet']].copy()
pFoundSubset['source'] = "Poetry Foundation"
columns = ['title', 'text', 'author', 'source']
pFoundSubset.columns = columns
pFoundSubset.head()

In [ ]:
# show list of columns
#poetsOrg.info()
pOrgSubset = poetsOrg[['author', 'attribution', 'title', 'text']].copy()
pOrgSubset['source'] = 'Poets.Org'
order = ['title', 'text', 'author', 'attribution', 'source']
pOrgSubset = pOrgSubset[order]
pOrgSubset.head()

In [ ]:
# show column info
# poemDB.info()
poemDBSubset = poemDB[['title', 'author', 'text']].copy()
poemDBSubset['source'] = "PoemDB"
order = ['title', 'text', 'author', 'source']
poemDBSubset = poemDBSubset[order]
poemDBSubset.head()

,title,text,author,source
0,Thoughts On The Works Of Providence,"A R I S E, my soul, on wings enraptur'd, rise ...",Phillis Wheatley,PoemDB
1,"""All Is Vanity, Saith the Preacher""","Fame, Wisdom, Love, and Power were mine, \...","George Gordon, Lord Byron",PoemDB
2,"""And the sins of the fathers shall be""","""And the sins of the fathers shall be \n visit...",Stephen Crane,PoemDB
3,"""Arcturus"" is his other name","""Arcturus"" is his other name -- \n I'd rather ...",Emily Dickinson,PoemDB
4,"""By the Waters of Babylon.""",In the valley of waters we wept on the day \n ...,"George Gordon, Lord Byron",PoemDB

In [ ]:
# show column info
# gt.info()
gtSubset = gt[['title', 'author', 'text']].copy()
gtSubset['source'] = 'Golden Treasury'
order = ['title', 'text', 'author', 'source']
gtSubset = gtSubset[order]
gtSubset.head()

,title,text,author,source
0,SPRING,"Spring, the sweet Spring, is the year's pleasa...",T. NASH.,Golden Treasury
1,TIME AND LOVE,When I have seen by Time's fell hand defaced\n...,W. SHAKESPEARE.,Golden Treasury
2,NaN,"Since brass, nor stone, nor earth, nor boundle...",W. SHAKESPEARE.,Golden Treasury
3,NaN,Under the greenwood tree\nWho loves to lie wit...,W. SHAKESPEARE.,Golden Treasury
4,NaN,"It was a lover and his lass\nWith a hey, and a...",W. SHAKESPEARE.,Golden Treasury

# Filtering

In [ ]:
# function to filter out regex
def regexFilter(df):
  df['title'] = df['title'].str.replace(r"\r\r", '')
  df['title'] = df['title'].str.replace(r"\n", '')
  df['text'] = df['text'].str.replace(r"\r\r", '')
  return df

# function calls
regexFilter(gtSubset)
regexFilter(poemDBSubset)
regexFilter(gSubset)
regexFilter(pFoundSubset)
regexFilter(pOrgSubset)

In [ ]:
# function to get line count
def lineCount(df):
  value = df['text'].str.count('\n')
  df['lineCount'] = (value+1)
  return df

lineCount(gtSubset)
lineCount(poemDBSubset)
lineCount(gSubset)
lineCount(pFoundSubset)
lineCount(pOrgSubset)

In [ ]:
test = pOrgSubset['text'].str.split("\n")

avg = []

for row in test:
  characters = 1
  try:
    for r in row:
      characters += len(r)
    print(characters)
  except:
    continue
  print(characters/len(row))

In [ ]:
# function to get average number of characters per line
def avgChar(df):
  test = df['text'].str.split("\n")
  avg = []
  for row in test:
    characters = 1
    try:
      for r in row:
        characters += len(r)
    except:
      pass
    try:
      avg.append(characters/len(row))
    except:
      avg.append(0)
   
  df['avgChar'] = avg
  return df


# function calls
avgChar(gtSubset)
avgChar(poemDBSubset)
avgChar(gSubset)
avgChar(pFoundSubset)
avgChar(pOrgSubset)

# Merging Experiments

In [ ]:
# concatenate based on common structure
combined = pd.concat([gtSubset, poemDBSubset, gSubset, pFoundSubset, pOrgSubset], axis=0)
combined.to_csv("combined_subset.csv", index=False)
combined

,title,text,author,source,lineCount,avgChar,attribution
0,SPRING,"Spring, the sweet Spring, is the year's pleasa...",T. NASH.,Golden Treasury,15.0,37.600000,NaN
1,TIME AND LOVE,When I have seen by Time's fell hand defaced\n...,W. SHAKESPEARE.,Golden Treasury,17.0,34.529412,NaN
2,NaN,"Since brass, nor stone, nor earth, nor boundle...",W. SHAKESPEARE.,Golden Treasury,17.0,36.117647,NaN
3,NaN,Under the greenwood tree\nWho loves to lie wit...,W. SHAKESPEARE.,Golden Treasury,17.0,23.470588,NaN
4,NaN,"It was a lover and his lass\nWith a hey, and a...",W. SHAKESPEARE.,Golden Treasury,16.0,34.937500,NaN
...,...,...,...,...,...,...,...
6142,Night Songs,"1\n\nNow, as I sink in sleep,\nMy heart is cut...",Thomas Kinsella,Poets.Org,31.0,18.967742,Copyright © 2010 by Thomas Kinsella. Reprinte...
6143,Abraham Lincoln,\nAbraham Lincoln\nhis hand and pen\nhe will b...,Abraham Lincoln,Poets.Org,5.0,13.000000,None
6144,Evening,\nSometimes she's Confucian-- \nresolute in pr...,NaN,Poets.Org,40.0,18.000000,From They Can't Take That Away from Me by Gai...
6145,Ars Poetica,NaN,NaN,Poets.Org,NaN,0.000000,None
6146,Evening,\nSometimes she's Confucian-- \nresolute in pr...,NaN,Poets.Org,40.0,18.000000,From They Can't Take That Away from Me by Gai...

# Write to CSVs

In [ ]:
# write filtered stuff to csv
gSubset.to_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/gutenberg_subset.csv", index=False)
poemDBSubset.to_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/poemDB_subset.csv", index=False)
gtSubset.to_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/gt_subset.csv", index=False)
pFoundSubset.to_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/pFound_subset.csv", index=False)
pOrgSubset.to_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/pOrg_subset.csv", index=False)
combined.to_csv("/content/drive/Shareddrives/Kaneb Center Course Design Academy/Corpus_Adventures/Data/combined_subset.csv", index=False)